<div class="top">
    <input type="search" name="search" id="search" placeholder="Search">
</div>

<main>
    <div *ngIf="colorsData.length > 0">
        <div *ngFor="let palette of colorsData" class="palette">
          <div (click)="toggleVisibility(palette)" class="title">{{palette.name}}</div>
          <div class="color" *ngIf="palette.isVisible">
            <div 
            *ngFor="let color of palette.colors" 
            class="rectangle" 
            [ngStyle]="{ 'background-color': color.color }"
            draggable="true"
            (dragstart)="onDragStart($event, color.color)">
          </div>

          </div>
        </div>
      </div>
</main>
