:host {
  max-height: inherit;
  background-color: white;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  width: 50%; 
}

.btn-group-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;  
}

.btn-outline-primary {
  border-color: grey;
  color: #303030;
}
.btn-outline-primary:hover {
  background-color: grey;
  color: white;
}
.btn-stretched {
  width: 50%; 
  margin-bottom: 1vw; 
  font-size: 13px;
}
.btn-stretched-middle {
  width: 60px; 
}
.btn-stretched-delete {
  margin-top: 1vw;
  width: 8vw; 
}
.btn-half {
  min-width: 6vw;
}

.btn-half img {
  width: 100%;
}

.btn-half-bottom {
  margin-top: 1vw;
  width: 4vw; 
}

.btn img {
  width: 1.5vw; 
  height: 1.5vw;
}
.range-container {
  flex-direction: column;
  width: 90%;
  display: flex;
  text-align: center;
  padding-bottom: 2vh; 
  font-size: 15px;
}

.btn-group-wrapper-bottom {
  margin-top: 1vw;
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-label {
  margin: 0;
}


