/* You can add global styles to this file, and also import other style files */
:host {
    display: grid;
    grid-template-rows: auto 11fr;
    width: 100%;
    min-height: 100vh;
    overflow-y: none;
    -ms-overflow-style: none;
}

app-navbar {
    display: block;
}

main {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}

app-colors {
    background-color: white;
    text-align: center;
    overflow-y: none;
    -ms-overflow-style: none;
}

app-colors::-webkit-scrollbar {
    display: none;
}

app-picture {
    width: 100%;
}