<script>/* funkcja do upload'u */
  function displaySelectedImage(event, elementId) {
      const selectedImage = document.getElementById(elementId);
      const fileInput = event.target;

      if (fileInput.files && fileInput.files[0]) {
          const reader = new FileReader();

          reader.onload = function(e) {
              selectedImage.src = e.target.result;
          };

          reader.readAsDataURL(fileInput.files[0]);
      }
  }
</script>



<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://pl.ppgrefinish.com/pl/"><img src="../assets/images/PPG-Logo-Vector-Download.png" alt="Bootstrap" width="50" height="40"></a>  
    <a class="btn" href="#"><img src="../assets/images/helpme.png" width="45" height="45" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?"></a>
  </div>
</nav>

<main class="main">
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8f9fa;
    }
    .btn-group-wrapper {
      display: flex;
      flex-direction: row;
      align-items: normal;
      position: relative;
      top: 60px; 
      transform: translateX(60px);
    }
    .btn-group-wrapper-right {
      display: flex;
      flex-direction: row;
      align-items: normal;
      position: relative;
      top: 60px; 
      transform: translateX(700px);
    }
    .btn-group-wrapper-bottom {
      display: flex;
      flex-direction: row;
      align-items: normal;
      position: relative;
      top: 170px; 
      transform: translateX(60px);
    }
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 50px; 
      transform: translateX(0); 
    }
    .btn-outline-primary {
      border-color: grey;
      color: grey;
    }
    .btn-outline-primary:hover {
      background-color: grey;
      color: white;
    }
    .btn-stretched {
      width: 160px; 
    }
    .btn-stretched-middle {
      width: 60px; 
    }
    .btn-stretched-delete {
      top: 70px;
      width: 160px; 
    }
    .btn-half {
      top: 30px;
      width: 80px; 
    }
    .btn-half-bottom {
      top: 110px;
      width: 80px; 
    }
    .btn img {
      width: 28px; 
      height: 28px; 
    }
    .range-container {
      flex-direction: column;
      width: 160px;
      display: flex;
      text-align: center;
      padding-top: 20px; 
    }
    .container-img {
      width: 250px;
      height: 250px;  
    }
    .btn {
      font-size: 22px;
    }

    .container {
      position: relative;
      height: 100%;
    }
    form {
      position: absolute;
      top: 10px; 
      right: 10px; 
    }
    #image {
      position: absolute;
      top: 70px; 
      left: 290px; 
      max-width: 90%; 
      max-height: 90%;
    }
    .image-container {
      background-color: #f0f0f0;
    }   
  </style>
    <div class="btn-group-wrapper">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/upload.png"></button>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/download.png"></button>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/imag.png"></button>
      </div>
    </div>

  <div class="btn-group-wrapper">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/left.png"></button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/hand (2).png"></button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/right.png"></button>
    </div>
  </div>

  <div class="btn-group-wrapper">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary btn-stretched">Auto Sharpen</button>
    </div>
  </div>

  <div class="btn-group-wrapper">
    <div class="range-container">
      <label class="form-label" for="customRange1">Contrast</label>
        <div data-mdb-range-init class="range">
          <input type="range" class="form-range" id="customRange1"/>
        </div>
    </div>
  </div>

  <div class="btn-group-wrapper">
    <div class="range-container">
      <label class="form-label" for="customRange2">Brightness</label>
        <div data-mdb-range-init class="range">
          <input type="range" class="form-range" id="customRange2"/>
        </div>
      </div>
  </div>

  <div class="btn-group-wrapper">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary btn-half" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/star.png"></button>
      <button type="button" class="btn btn-outline-primary btn-half" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/pencil.png"></button>
    </div>
  </div>

  <div class="btn-group-wrapper">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary btn-half" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">Merge</button>
      <button type="button" class="btn btn-outline-primary btn-half" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">Split</button>
    </div>
  </div>

  <div class="btn-group-wrapper">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary btn-stretched-delete">Delete</button>
    </div>
  </div>

  <div class="btn-group-wrapper">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary btn-half-bottom" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/undo2.png"></button>
      <button type="button" class="btn btn-outline-primary btn-half-bottom" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/undo1.png"></button>
    </div>
  </div>

  <div class="btn-group-wrapper-bottom">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/zoomout.png"></button>
      <button type="button" class="btn btn-outline-primary btn-stretched-middle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">90%</button>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"><img src="../assets/images/zoomin.png"></button>
    </div>
  </div>

  
    <div class="container-img">
      <img src="../assets/images/image 5.png" alt="Image" id="image">
    </div>
  
      <!--<div class="container">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>/* search */
    </div>-->
          <!--<div class="d-flex justify-content-center">
              <div data-mdb-ripple-init class="btn btn-primary btn-rounded">
                  <label class="form-label text-white m-1" for="customFile1">Choose file</label>
                  <input type="file" class="form-control d-none" id="customFile1" onchange="displaySelectedImage(event, 'selectedImage')" />
              </div> /* wywolanie funkcji do upload'u */
          </div>--> 
</main>
