/* You can add global styles to this file, and also import other style files */
:host {
    background-color: #fff;
    display: grid;
    grid-template-rows: 15% 85%;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    -ms-overflow-style: none;
}

app-navbar {
    display: block;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: auto 2fr 8fr 2fr;
}

app-colors {
    background-color: white;
    text-align: center;
    overflow-y: none;
    -ms-overflow-style: none;
}

app-colors::-webkit-scrollbar {
    display: none;
}

app-picture {
    width: 100%;
}